.header{
    position: fixed;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
}
.header-div{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: 865px;
    margin-left: 191px;
}
.home{display: flex;
    align-items: center;
    flex-direction: row;
}
.home1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 43px;
}
.nav-a{
    position: relative;
    font-size: 23px;
    color: black;
    font-family: 'Alkatra', cursive;
}
.nav-a::after{
    content: "";
    height: 6px;
    width:0%;
    background-color: rgb(250, 215, 215);
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.1s;
}
.nav-a:hover::after{
    width: 100%;
}
/* end header */
.animation-div{
    background-image: url(../photo/maxresdefault.jpg);
    width: 100%;
    height:100vh ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;   
}
.bambi{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(1330px,-290px);
    animation: bambimove 2s infinite;  
}
@keyframes bambimove {
    0%{bottom: 0%;
        
    }
    100%{bottom: 2%;
     }
}
.butterfly{
    position: absolute;
    width: 250px;
    height: 300px;
    top: 70px;
    left: 200px;
    animation: butterflymove 40s infinite;
}
@keyframes butterflymove {
    0%{left: 70px;}
    30%{top:130px;}
    40%{top:150px;}
    50%{top:180px;}
    100%{left: 1550px;}
    
}
.clouds{
   top: 30px;
    left: 800px;
    position: absolute;
    animation:clouds 50s infinite ;
}
@keyframes clouds {
    30%{top:130px;}
    40%{top:150px;}   
}

.sunshine{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(690px,50px);
    animation-name: sunmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes sunmove { 
    0% { left: 690px;
        top: 30px;
        transform: rotate(45deg);}
    25% { left: 690px;
        top: 30px;
        transform: rotate(90deg);}
    75% { left: 690px;
        top: 30px;
        transform: rotate(135deg);}
    100% { left: 690px;
        top: 30px;
        transform: rotate(180deg);}
    }

/* end animation section */
.section{
    width: 1384px;
    height:185px;
    display: flex;
   align-items: center;
   margin-left:270px ;
   margin-top: 20px;
   background-color: #F4F4F4;
   
}
 .container{
    height: 404.8505859375px;
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
 }
.content{
    height: 348.8505859375px;
    width: 408px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.box-purple{
    height: 52.8505859375px;
    width: 408px;
    font-size: 20px;
    color: #fff;
    padding-top: 13px;
    padding-left: 20px;
    position: relative;
    padding-right: 166px;
    font-family: 'Poppins', sans-serif;
} 
.box-purple::after{
    content: "";
    height: 52.85px;
    width:0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.1s;

}
.box-purple:hover::after{
    width: 408px;
    background-color: #6B77E5;

}


.list{
    font-size: 20px;
    color: #37393F;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 166px;
    font-family: 'Poppins', sans-serif;
}
.list1{
    font-size: 25px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
}
/* end1 */
.container2{
    height: 530px;
    width: 692px;
    margin-left:3px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.title{
    height: 105px;
    width: 692px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-title{
    font-size: 30px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
}
.box-text{
    font-size: 18px;
    color: #7D7D7D;
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
}
.faq{
    height: 380px;
    width: 692px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}
.qa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 367px;
    height: 80px;
    width: 692px;
    margin-bottom: 45px;
    color-scheme: #37393F;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: solid 1px #E3E3E3;

}
/* footer start */
.footer{
    margin-top: 151.5px;
    height: 703px;
    width: 1920vh;
    background-color:#37393F;
    padding-top: 86px;
}
.content2{
    margin-top: 29px;
    margin-left: 350px;
    margin-right: 349.99px;
    height: 513px;
    width: 1220.01123046875px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-footer{
    height: 122px;
    width: 1220px;
}
.header-footer2{
    height: 68px;
    width: 1219px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.contact-footer{
    height: 68px;
    width: 834px;
    padding-top: 15px;
}
.box-contact{
    height: 68px;
    width: 226px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:86px ;

}
.icon-footer{
    height: 68px;
    width: 68px;
    background-color: #4C4D52;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    height: 55px;
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.callus{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 70px;
}
.callus2{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width: 148px;
    height: 22px;
}
.line{
    height: 0px;
    width: 1217px;
    left: 0.005859375px;
    top: 122px;
    background-color: #6C6D72;
    border: 1px solid #6C6D72 ;
}
/* end header */
.details{
    height: 243px;
    width: 1220.01123046875px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}
.pages{
    height: 243px;
    width: 659.01123046875px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.quick{
    height: 243px;
    width: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.quick-title{
    font-size:20px ;
    color:#40DDB6;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 13px;
}
.serveces-nav{
    margin-top: 4px;
}
.home{
    padding-top: 13px;
    color: #F4F4F4;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
    width: 200px;
}
.green{
    color: #40DDB6;
}
.services{
    height: 243px;
    width: 198px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 124px;
}
.ourservices{
    margin-bottom: 13px;
    font-size: 20px;
    color: #40DDB6;
    font-family: 'Poppins', sans-serif;
}
/* end services */
.uitility{
    height: 243px;
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 124px;
}
/* end */
.subscribe{
    margin-left: 119px;
    background-color: #474950;
    height: 235px;
    width: 479px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.information-subscribe{
    height: 151px;
    width: 407px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subscribe-title{
    height: 63px;
    width: 333px;
    margin: 42px 110px 130px 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-subscribe{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;

}
.text-subscribe{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
.mail-box{
    height: 65px;
    width: 407px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.message-box{
    height: 65px;
    width: 264px;
    background-color: #FFFFFF;
   margin-bottom: 160px;
   margin-left: 25px;
   /* padding: 22px 76px 21px 27px; */
}
.last-messagebox{
    height: 65px;
    width: 143px;
    background-color: #6B77E5;
    margin-bottom: 160px;
    padding: 22px 76px 21px 27px;
}
.message-boxtitle{
    font-size: 18px;
    color:#37393F;
    font-family: 'Inter', sans-serif;
    padding: 22px 76px 21px 27px;

} 
.message-boxtitle{
    font-size: 18px;
    color:#37393F;
    font-family: 'Inter', sans-serif;
    padding: 22px 76px 21px 27px;

}
.line2{
    margin-top: 50px;
    height: 0px;
    width: 1217px;
    background-color: #6C6D72;
    border: 1px solid #6C6D72;
}
.copyright{
    height: 48px;
    width: 1219.843505859375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}
.copy{
    height: 26px;
    width: 1219.843505859375px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text-copyright{
    color: white;
}
.two{
    color: greenyellow;
}
.littlediv{
    width: 2px;
    height: 0;
    background-color: #474950;
    border: #374c98 8px solid;
}
.three{
    color: #6B77E5;
}
.follow{
    height: 26px;
    width: 194.84353637695312px;
    display: flex;
    align-items: center;
    margin-left:5px;

}
.socialmedia{
    height: 17.359169006347656px;
    width: 117.8435287475586px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
    margin-left: 9px;
}
.insta{
    height: 16.455045700073242px;
    width: 17.08793067932129px;
    border-radius: 50%;
    background-color: #7D7D7D;
    margin-right: 15px;
}
.followdiv{
    margin-left: 308px;
    color: #FFFFFF;


}
