.header{
    position: fixed;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    width: 100%;
}
.header-div{
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: 865px;
    margin-left: 191px;
}
.home{display: flex;
    align-items: center;
    flex-direction: row;
}
.home1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 43px;
}
.nav-a{
    position: relative;
    font-size: 23px;
    color: black;
    font-family: 'Alkatra', cursive;
}
.nav-a::after{
    content: "";
    height: 6px;
    width:0%;
    background-color: rgb(250, 215, 215);
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.1s;
}
.nav-a:hover::after{
    width: 100%;
}
/* end header */
.animation-div{
    background-image: url(../photo/maxresdefault.jpg);
    width: 100%;
    height:100vh ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;   
}
.bambi{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(1330px,-290px);
    animation: bambimove 2s infinite;  
}
@keyframes bambimove {
    0%{bottom: 0%;
        
    }
    100%{bottom: 2%;
     }
}
.butterfly{
    position: absolute;
    width: 250px;
    height: 300px;
    top: 70px;
    left: 200px;
    animation: butterflymove 40s infinite;
}
@keyframes butterflymove {
    0%{left: 70px;}
    30%{top:130px;}
    40%{top:150px;}
    50%{top:180px;}
    100%{left: 1550px;}
    
}
.clouds{
   top: 30px;
    left: 800px;
    position: absolute;
    animation:clouds 50s infinite ;
}
@keyframes clouds {
    30%{top:130px;}
    40%{top:150px;}   
}

.sunshine{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(690px,50px);
    animation-name: sunmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes sunmove { 
    0% { left: 690px;
        top: 30px;
        transform: rotate(45deg);}
    25% { left: 690px;
        top: 30px;
        transform: rotate(90deg);}
    75% { left: 690px;
        top: 30px;
        transform: rotate(135deg);}
    100% { left: 690px;
        top: 30px;
        transform: rotate(180deg);}
    }

/* end animation section */
.section{
    width: 1384px;
    height:635px;
    display: flex;
   align-items: center;
   margin-left:470px ;
   margin-top: 20px;
   background-color: #F4F4F4;
   
}
 .container{
    height: 404.8505859375px;
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
 }
.content{
    height: 348.8505859375px;
    width: 408px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.box-purple{
    height: 52.8505859375px;
    width: 408px;
    font-size: 20px;
    color: #fff;
    padding-top: 13px;
    padding-left: 20px;
    position: relative;
    padding-right: 166px;
    font-family: 'Poppins', sans-serif;
} 
.box-purple::after{
    content: "";
    height: 52.85px;
    width:0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:all 0.1s;

}
.box-purple:hover::after{
    width: 408px;
    background-color: #6B77E5;

}


.list{
    font-size: 20px;
    color: #37393F;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 166px;
    font-family: 'Poppins', sans-serif;
}
.list1{
    font-size: 25px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
}
/* end1 */
.container2{
    height: 530px;
    width: 692px;
    margin-left: 130px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.title{
    height: 105px;
    width: 692px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-title{
    font-size: 30px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 4px;
}
.box-text{
    font-size: 18px;
    color: #7D7D7D;
    font-family: 'Inter', sans-serif;
    margin-bottom: 60px;
}
.faq{
    height: 380px;
    width: 692px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}
.qa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 367px;
    height: 80px;
    width: 692px;
    margin-bottom: 45px;
    color-scheme: #37393F;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: solid 1px #E3E3E3;

}
/* footer start */
.footer{
    margin-top: 151.5px;
    height: 703px;
    width: 1920vh;
    background-color:#37393F;
    padding-top: 86px;
}
.content2{
    margin-top: 49px;
    margin-left: 350px;
    margin-right: 349.99px;
    height: 513px;
    width: 1220.01123046875px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-footer{
    height: 122px;
    width: 1220px;
}
.header-footer2{
    height: 68px;
    width: 1219px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.contact-footer{
    height: 68px;
    width: 834px;
    padding-top: 15px;
}
.box-contact{
    height: 68px;
    width: 226px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:86px ;

}
.icon-footer{
    height: 68px;
    width: 68px;
    background-color: #4C4D52;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    height: 55px;
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.callus{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.callus2{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.line{
    height: 0px;
    width: 1217px;
    left: 0.005859375px;
    top: 122px;
    background-color: #6C6D72;
    border: 1px solid #6C6D72 ;

}